* {
  color: white;
}
.bg-home {
  background-color: #080808;
}
.bg-test1 {
  background-color: aqua;
}
.bg-test2 {
  background-color: blueviolet;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
